{% extends "base_user.html" %} {% block landing_page %}
{% comment %} <div class="col-md-8 offset-md-2 mt-center">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br>
    <a href="{% url 'signup' %} " class="footer-link">New to LearnShastras? <u>Sign up</u></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div> {% endcomment %}

<div class="col-md-8 offset-md-2 mt-center w-25">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}
         <!-- Email input -->
  <div class="form-outline mb-4">
    <div class="fieldWrapper">
    {{ form.username.errors }}
    {{ form.username }}
        <label class="form-label" for="{{ form.username.id_for_label }}">Email</label>
</div>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <div class="fieldWrapper">
    {{ form.password.errors }}
    {{ form.password }}
        <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
</div>
  </div>

  {% comment %} <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="form1Example3"
          checked
        />
        <label class="form-check-label" for="form1Example3"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div> {% endcomment %}

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
    <br>
    <a href="{% url 'signup' %} " class="footer-link">New to LearnShastras? <u>Sign up</u></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}