{% extends "base.html" %}
{% block title %}Hare Krishna Centre | {{ shloka.chapter }}.{{ shloka.shloka_no }}{% endblock %}
{% block page_content %}
<!-- Mask & flexbox options-->

<h2 class="mt-5 text-center"><strong>अध्याय {{ shloka.chapter }}:</strong> {{ chapter_name }}</h2>
    <br>
    <hr class="w-50">

    <!--First row-->
    <div class="features-small mb-5 mt-5 wow fadeIn col-lg-10 mx-auto">
        {% if url == '' %}{% else %}
        <!--Second column-->
        <div class="mt-5 mb-5 col-lg-8 mx-auto">
            <div class="">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ url }}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!--/Second column-->
        {% endif %}
        <!--First column-->
        <div class="">
            <!--First row-->
            <div class="text-center">
                <div class="">
                    <h2 class="feature-title"><strong>श्लोक {{ shloka.chapter }}. {{ shloka.shloka_no }} </strong></h2>
                    <hr class="col-3">
                </div>
                <div class="">
                    <h5 class=""><strong>{{ shloka.shloka| linebreaks }}</strong>
                    </h5>
                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="">
                <div class="text-center">
                    <!-- <h2 class="feature-title"><strong>Word Meaning</strong></h2> -->
                    <hr class="col-4">
                </div>
                <div class="text-justify">
                    <h5 class=""><strong>{{ shloka.word_meaning }}</strong>
                    </h5>
                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/Second row-->
        </div>
        <!--/First column-->

        <!--Third column-->
        <div class="">
            <!--First row-->
            <div class="text-center">
                <div class="">
                    <h2 class="feature-title"><strong>भावार्थ</strong></h2>
                    <hr class="col-3">
                </div>
                <div class="">
                    <h5 class=""><strong>{{ shloka.meaning }}
                        </strong></h5>
                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="">
                <div class="text-center">
                    <h2 class="feature-title"><strong>तात्पर्य</strong></h2>
                    <hr class="col-3">
                </div>
                <div class="text-justify">
                    <h5 class=""><strong>{{ shloka.explanation| linebreaks }}</strong>
                    </h5>
                    <div style="height:20px"></div>
                </div>
            </div>
            <!--/Second row-->

        </div>
        <!--/Third column-->
        <!--First row-->
        <div class="d-flex justify-content-center mt-5">
            <div class="">{% if prev_shloka.id == shloka.id %}{% else %}<a
                    class="far fa-arrow-alt-circle-left btn-icons"
                    href="{% url 'desired_shloka' chapter=prev_shloka.chapter shloka_no=prev_shloka.shloka_no %}"></a>
                &nbsp;
                {% endif %}
                <a class="fas fa-book btn-icons"
                    href="{% url 'desired_shloka' chapter=shloka.chapter shloka_no=0 %}"></a>
                &nbsp;
                {% if next_shloka.id == shloka.id %}{% else %}
                <a class="far fa-arrow-alt-circle-right btn-icons"
                    href="{% url 'desired_shloka' chapter=next_shloka.chapter shloka_no=next_shloka.shloka_no %}"></a>
                {% endif %}
            </div>
        </div>
        <!--/First row-->
    </div>
    <!--/First row-->

    {% endblock %}
    {% block javascript %}
    <script>
        /*  function validateForm() {
        console.log("entry")
        var chapter = $("#chapter");
        var shloka_no = $("#shloka_no");
        if (chapter.val() == "") {
            console.log("no chapter")
            chapter.val('chapter option:second');
            shloka_no.val('{{ shloka.shloka_no }}')
        } else if (chapter.val() != '' & shloka_no.val() == '') {
            shloka_no.val('shloka_no option:second');
        }

    } */
    </script>
    {% endblock %}