{% extends "base.html" %}
{% block title %}Hare Krishna Centre | Chapter {{ chapter }} Index{% endblock %}
{% block page_content %}
<div class="mt-5 mb-5">
    {% for shloka in shlokas_of_chapter %}
    <div class="mb-4 col-lg-6 mx-auto hoverable">
        <a href="{% url 'desired_shloka' chapter=shloka.chapter shloka_no=shloka.shloka_no %}" style="color: black;">
            <h5><strong>श्लोक {{ shloka.chapter }}. {{ shloka.shloka_no }}:</strong></h5>
            <p><strong>{{shloka.shloka}}</strong></p>
        </a>
    </div>
    {% endfor %}
</div>
<!-- Mask & flexbox options-->{% endblock %}